.calc-wrapper *{
  outline:none !important;
  font-family:'Coda', cursive;
}
.big-wrapper{
  align-items:center;
  display:flex;
  height:100%;
  justify-content:center;
  left:0;
  overflow:auto;
  position:fixed;
  width:100%;
  background:#bcbcbc; /* Old browsers */
  background:-moz-linear-gradient(left, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(left, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to right, #bcbcbc 0%, #ededed 25%, #fff 50%, #ededed 75%, #bcbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#bcbcbc', GradientType=1); /* IE6-9 */
}
.parent{
  align-items:center;
  display:flex;
  height:100%;
  justify-content:center;
  left:0;
  overflow:auto;
  position:fixed;
  top:-5%;
  width:100%;
}
.header{
  text-align:center;
  color:#777;
}
.title{
  font-size:37px;
  margin-bottom:-3px;
}
.author{
  font-size:19px;
  margin-bottom:6px;
  margin-top:0;
}
.field{
  font-size:22px;
  height:41px;
  margin:3px;
  padding:10px 8px 8px;
  text-align:right;
  width:324px;
}
.calculation-string{
  text-align:right;
  margin:0 5px;
  min-height:20px;
  font-size:14px;
  color:#777;
  font-family:'Roboto Mono', sans-serif;
  font-weight:500;
}
.simple-button{
  font-size:22px;
  margin:3px;
  width:60px;
}
.rowspan2{
  height:97px;
  span.valign-middle{
    position:relative;
    top:25px;
  }
}
.colspan2{
  width:126px;
}
.done{
  background-color:#c2dddc;
}
.problem{
  background-color:#ddbdba;
}
.icon-font{
  font-family:Verdana;
  width:25px;
}
.arrow-left{
  width:23px;
  position:relative;
  top:-2px;
}
.field-wrapper{
  position:relative;
}
.memory-sign{
  position:absolute;
  top:6px;
  left:12px;
  font-size:22px;
  color:#337ab7;
  background-color:#fff;
  width:21px;
  display:none;
}
.notifications{
  color:#337ab7;
  display:none;
}
.warning{
  color:#a33334;
}
#keyboard, #info{
  display:none;
}
.to-calc{
  text-align:center;
}
.keyboard-image{
  max-width:940px;
  width:100%;
  padding:0 20px;
}
.keyboard-description{
  max-width:940px;
  width:100%;
  padding:0 20px;
  font-size:26px;
}
.info-description{
  font-size:20px;
}
.tac{
  text-align:center;
}
.keyboard-description-1{
  color:#337ab7;
}
.btn-color1{
  background:#fff; /* Old browsers */
  background:-moz-linear-gradient(top, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to bottom, #fff 0%, #f1f1f1 50%, #eee 51%, #f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
}
.btn-color2{
  background:#f3f3f3; /* Old browsers */
  background:-moz-linear-gradient(top, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to bottom, #f3f3f3 0%, #e6e6e6 50%, #dadada 51%, #fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#fafafa', GradientType=0); /* IE6-9 */
}
.btn-color3{
  background:#eee; /* Old browsers */
  background:-moz-linear-gradient(top, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to bottom, #eee 0%, #e1e1e1 50%, #ddd 51%, #e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */
}
/*Bootstrap*/
.form-control[disabled], fieldset[disabled] .form-control{
  cursor:auto;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color:inherit;
}
@media screen and (max-width:560px) {
  .keyboard-description, .to-calc{
    font-size:18px;
  }
}
.form-control:focus{
  border-color:#ccc;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
}